<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @user.events.each do |event| %>
  <ul>
    <li><%= event.name %></li>
    <li><%= event.description %></li>
    <li><%= event.date %></li>
    <li><%= event.creator.name %></li>
    <li><%= link_to 'Show', event %></li>
  </ul>
<% end %>
<%= link_to 'Back', root_path %>
