<div class="mt-5">
  <%= link_to 'Events', events_path %>
  /
  <%= link_to  @event.name, @event %>
</div>

<div class="card">
  <div class="card-header">
    <h2 class="text-primary text-center py-2">
      <%= @event.name %>
    </h2>
  </div>

  <div class="card-body">
    <strong>Description:</strong>
    <%= @event.description %>
    <br>
    <strong>Date:</strong>
    <%= @event.date %>
  </div>

  <div class="card-footer">
    <strong>Creator:</strong>
    <%= @event.creator.name %>
  </div>
</div>
